/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--charcoal-grey);
}

:root {
  --tomato: #ff6257;
  --green-color: #1cb51c;
  --dark-slate-grey: #242742;
  --charcoal-grey: #36384e;
  --grey: #9294a0;
  --white: #ffffff;
}

p {
  font-size: 16px;
}

*::selection {
  background-color: var(--grey);
  color: var(--white);
}